{{ define "yield" }}
<article class="max-w-2xl mx-auto overscroll-none">
  <div
    x-data="scrollProgress"
    x-init="init"
    x-cloak
    class="fixed top-12 inset-x-0"
  >
    <div
      class="h-1 bg-pink-400"
      :style="`width: ${percent}%`"
    ></div>
  </div>
  <div class="mb-10">
    <h1 class="mb-6 text-4xl text-gray-900 dark:text-white font-semibold leading-none md:text-5xl">
      {{- .Article.Title -}}
    </h1>
    {{ if .Article.Description }}
    <h2 class="text-xl leading-snug text-gray-400">
      {{- .Article.Description -}}
    </h2>
    {{ end }}
    <div class="flex items-baseline mt-6 text-gray-400 text-sm">
      <time
        class="block"
        datetime="{{.Article.CreatedAt}}"
      >
        {{- .Article.CreatedAt | formatAsDate -}}
      </time>
      <p class="ml-4">{{ .Article.Markdown | getReadingTime }}</p>
    </div>
  </div>
  <div
    class="max-w-none md:text-lg prose prose-blue dark:prose-invert prose-a:no-underline prose-pre:bg-[#282a36] prose-pre:text-[#f8f8f2] prose-pre:pb-0 md:prose-code:max-h-[500px] prose-code:font-fira"
  >
    {{- .Content -}}
  </div>
</article>
{{ end }}

{{ define "scripts" }}
<script src="/public/js/article.js"></script>
{{ end }}