{{ define "yield" }}
<div class="max-w-4xl p-6 md:px-0 mx-auto">
  <h1 class="my-4 text-5xl font-semibold leading-tight text-gray-800">
    All My Articles 📝
  </h1>
  <ul>
    {{ if .Articles }}
    {{ range .Articles }}
    <li class="flex leading-normal border-t py-8">
      <p class="mr-10 shrink-0 w-28">{{ .CreatedAt | formatAsDate }}</p>
      <div class="flex flex-col">
        <p class="text-2xl font-medium mb-4">{{ .Title }}</p>
        {{ if .Description }}
        <p class="text-gray-400">{{ .Description }}</p>
        {{ end }}
        <a class="mt-4 hover:text-blue-500" href="/articles/{{.Slug}}">Read More</a>
        {{ if $.IsAdmin }}
        <div class="flex mt-4">
          <a class="mr-4 hover:text-blue-500" href="/admin/articles/{{.Slug}}/edit">Edit</a>
          <form data-article-id="{{.ID}}" action="/articles/{{.ID}}?_method=DELETE" method="post">
            <button class="text-red-500" type="submit">Delete</button>
          </form>
        </div>
        {{ end }}
      </div>
    </li>
    {{ end }}
    {{ else }}
    <li class="leading-normal text-2xl mb-8">No articles exist, how sad 😢</li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{ define "scripts" }}
{{ if .IsAdmin }}
<script type="module" src="/public/js/articles.js"></script>
{{ end }}
{{ end }}