{{ define "head-tags"}}
<!-- <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> -->
{{ end }}

{{ define "yield" }}
<div class="max-w-3xl my-12 mx-auto">
  <div class="mb-10">
    <h1 class="mb-6 text-5xl font-semibold leading-none text-gray-800">
      {{- .Article.Title -}}
    </h1>
    {{ if .Article.Description }}
    <h2 class="text-xl leading-snug text-gray-400">
      {{- .Article.Description -}}
    </h2>
    {{ end }}
    <time class="block mt-6 text-gray-400 text-sm" datetime="{{.Article.CreatedAt}}">
      {{- .Article.CreatedAt | formatAsDate -}}
    </time>
  </div>
  <div class="max-w-none prose prose-blue prose-pre:pb-0 prose-code:max-h-[500px] prose-code:font-fira">
    {{ .Content }}
  </div>
</div>
{{ end }}

{{ define "scripts" }}
<script type="module" src="/public/js/article.js"></script>
{{ end }}