<!-- Head tags -->
{{ define "head-tags" }}
<link
  rel="stylesheet"
  href="https://unpkg.com/easymde/dist/easymde.min.css"
/>
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{{ end }}

<!-- Content -->
{{ define "yield" }}
<div class="max-w-4xl mx-auto">
  <h1 class="my-4 text-5xl text-slate-900 dark:text-white font-semibold leading-tight">
    Edit This Article
  </h1>
  <form
    action="/articles/{{.Article.ID}}?_method=PUT"
    method="post"
  >
    {{ template "article-form-fields" . }}
  </form>
  <form
    id="delete-article-form"
    action="/articles/{{.Article.ID}}?_method=DELETE"
    method="post"
    x-data
    @submit.prevent="confirm('Are you sure you want to delete this article?') && $el.submit()"
  >
    <button
      class="text-red-500"
      type="submit"
    >Delete</button>
  </form>
</div>
{{ end }}

<!-- prettier-ignore -->
{{ define "scripts" }}
<script>
  window._data = {
    id: Number("{{.Article.ID}}"),
    markdown: "{{.Article.Markdown}}",
  };
</script>
<script
  type="module"
  src="/public/js/edit-article.js"
></script>
{{ end }}