{{ define "yield" }}
<div class="max-w-lg md:max-w-4xl mx-auto">
  <!-- Intro -->
  <div class="flex flex-col mb-20 md:flex-row">
    <img
      class="self-center rounded-full mb-10 w-32 h-32 md:mb-0 md:mr-10 md:w-64 md:h-64"
      src="/public/images/headshot.jpg"
      alt="Headshot of Michael Miranda"
    />
    <div>
      <h1
        class="mb-10 text-center text-4xl text-slate-900 dark:text-white font-semibold leading-tight md:text-5xl md:text-left"
      >
        Hey! I'm Michael <span class="inline-block animate-wave">👋🏼</span>
      </h1>
      <div class="flex flex-col gap-y-4">
        <p class="text-lg md:text-xl">
          I'm a software engineer and here you'll find some of my projects,
          experiences, and maybe even a few hot takes on the tech industry.
        </p>
        <p class="text-lg md:text-xl">
          Find me on Twitter
          <a
            class="text-blue-500"
            href="https://twitter.com/mrpineapples24"
          >
            @mrpineapples24
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- Skills -->
  <div class="flex flex-col mb-12">
    <h1
      class="w-max pb-2 mb-6 text-3xl text-slate-900 dark:text-white font-semibold leading-tight border-b-2 border-pink-300 dark:border-pink-400 md:text-4xl"
    >
      Technologies
    </h1>
    <p class="text-lg">I enjoy messing around with all kinds of technologies, here are a few of my favorites:</p>
    <ul class="grid grid-cols-2 mt-10 gap-y-5 md:grid-cols-3 md:gap-y-8 md:gap-x-4">
      <li>
        <a
          class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200"
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
        >
          <div class="w-14 h-14 flex justify-center items-center rounded-full bg-slate-800 dark:bg-slate-600">
            <img
              class="w-1/2"
              src="/public/images/logos/javascript.svg"
              alt="JavaScript logo"
            />
          </div>
          Javascript
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200"
          href="https://nodejs.org"
        >
          <div class="w-14 h-14 flex justify-center items-center rounded-full bg-slate-800 dark:bg-slate-600">
            <img
              class="w-1/2"
              src="/public/images/logos/node.svg"
              alt="Node JS logo"
            />
          </div>
          Node
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200"
          href="https://www.typescriptlang.org"
        >
          <div class="w-14 h-14 flex justify-center items-center rounded-full bg-slate-800 dark:bg-slate-600">
            <img
              class="w-1/2"
              src="/public/images/logos/typescript.svg"
              alt="TypeScript logo"
            />
          </div>
          TypeScript
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200"
          href="https://go.dev"
        >
          <div class="w-14 h-14 flex justify-center items-center rounded-full bg-slate-800 dark:bg-slate-600">
            <img
              class="w-1/2"
              src="/public/images/logos/go.svg"
              alt="Go programming language logo"
            />
          </div>
          Go
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200"
          href="https://react.dev"
        >
          <div class="w-14 h-14 flex justify-center items-center rounded-full bg-slate-800 dark:bg-slate-600">
            <img
              class="w-1/2"
              src="/public/images/logos/react.svg"
              alt="React JS logo"
            />
          </div>
          React
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200"
          href="https://tailwindcss.com"
        >
          <div class="w-14 h-14 flex justify-center items-center rounded-full bg-slate-800 dark:bg-slate-600">
            <img
              class="w-1/2"
              src="/public/images/logos/tailwind.svg"
              alt="Tailwind CSS logo"
            />
          </div>
          Tailwind
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:scale-105 ease-in-out duration-200"
          href="https://www.postgresql.org"
        >
          <div class="w-14 h-14 flex justify-center items-center rounded-full bg-slate-800 dark:bg-slate-600">
            <img
              class="w-1/2"
              src="/public/images/logos/postgres.svg"
              alt="Postgres logo"
            />
          </div>
          Postgres
        </a>
      </li>
    </ul>
  </div>
  <!-- Blog Posts -->
  <div class="flex flex-col md:text-lg">
    <h1
      class="w-max pb-2 mb-6 text-3xl text-slate-900 dark:text-white font-semibold leading-tight border-b-2 border-pink-300 dark:border-pink-400 md:text-4xl"
    >
      Latest Writing
    </h1>
    <ul class="mb-6">
      {{ range .Articles }}
      <li>
        <span
          class="mr-1"
          aria-hidden="true"
        >
          &#128279;
        </span>
        <a href="/blog/{{.Slug}}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
    <p>You can find more
      <a
        class="text-blue-500"
        href="/blog"
      >here</a>.
    </p>
  </div>
</div>
{{ end }}