*.o
*.a
*.so
*.test
*.prof
*.out


# OS
.DS_Store
Thumbs.db

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
air

bin/
build/
tmp/



node_modules

# Env
.env
.env.*
!.env.template
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
