{{ define "article-form-fields" }}
<div class="flex flex-col mb-4">
  <label class="mb-4" for="title">Title</label>
  <input required type="text" name="title" id="title" value="{{ .Article.Title }}"></input>
</div>
<div class="flex flex-col mb-4">
  <label class="mb-4" for="description">Description</label>
  <input type="text" name="description" id="description" value="{{ .Article.Description }}"></input>
</div>
<div class="flex flex-col mb-4">
  <label class="mb-4" for="markdown">Markdown</label>
  <div class="prose max-w-none">
    <textarea required name="markdown" id="markdown"></textarea>
  </div>
</div>

<a href="/articles{{if .Article.Slug}}/{{.Article.Slug}}{{end}}" class="btn btn-secondary">Cancel</a>
<button type="submit">Save</button>
{{ end }}