{{ define "footer" }}
<footer class="w-full bg-slate-800 text-white px-5 py-8 mt-0">
  <div class="max-w-4xl mx-auto flex gap-y-8 flex-wrap md:flex-nowrap">
    <div class="flex flex-col md:w-1/2 md:mr-auto">
      <h3 class="text-lg font-medium mb-8">Michael Miranda</h3>
      <p class="text-lg">
        Congratulations on scrolling all the way down! If you want to stay in touch, follow me on
        <a
          href="https://twitter.com/mrpineapples24"
          class="text-blue-500"
        >Twitter</a>!
      </p>
    </div>
    <div class="flex w-full md:w-auto md:gap-x-40">
      <div class="flex flex-col w-1/2">
        <h3 class="text-lg text-pink-400 font-medium mb-8">Social</h3>
        <ul class="flex flex-col gap-y-4 text-blue-500">
          <li>
            <a href="https://github.com/mrpineapples">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/michaelmiranda18/">LinkedIn</a>
          </li>
          <li>
            <a href="https://twitter.com/mrpineapples24">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col w-1/2">
        <h3 class="text-lg text-pink-400 font-medium mb-8">Links</h3>
        <ul class="flex flex-col gap-y-4 text-blue-500">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{{ end }}