{{ define "header" }}
<nav class="w-full bg-gray-800 text-gray-300 px-5">
  <div class="container mx-auto h-12 flex justify-between items-center">
    <div class="font-extrabold">
      <a class="no-underline hover:no-underline" href="/">
        Michael Miranda
      </a>
    </div>
    <div class="hidden space-x-8 md:flex">
      <ul class="list-reset flex gap-x-5 flex-1 md:flex-none items-center">
        <li>
          <a class="inline-block no-underline hover:text-gray-300" href="/articles">Blog</a>
        </li>
        <li>
          <a class="inline-block no-underline hover:text-gray-300" href="/about">About</a>
        </li>
        <li>
          <a class="inline-block no-underline hover:text-gray-300" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <button class="flex z-10 md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <div id="mobile-nav-links" class="w-full h-full invisible absolute left-0 top-0 bg-gray-800" aria-hidden="true">
      <ul class="h-full list-reset flex flex-col my-auto items-center justify-center gap-y-5">
        <li>
          <a class="inline-block no-underline" href="/articles">Blog</a>
        </li>
        <li>
          <a class="inline-block no-underline" href="/about">About</a>
        </li>
        <li>
          <a class="inline-block no-underline" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}