<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge"
  />
  <meta
    name="description"
    content="{{ or .PageDescription `Michael's Personal Website` }}"
  />
  <meta
    property="og:title"
    content="{{ or .PageTitle `Michael Miranda` }}"
  />
  <meta
    property="og:description"
    content="{{ or .PageDescription `Michael's Personal Website` }}"
  />
  <meta
    property="og:image"
    content="{{ or .PageImage `https://michaelmiranda.dev/public/images/share.png` }}"
  />
  <meta
    name="twitter:title"
    content="{{ or .PageTitle `Michael Miranda` }}"
  />
  <meta
    name="twitter:description"
    content="{{ or .PageDescription `Michael's Personal Website` }}"
  />
  <meta
    name="twitter:image"
    content="{{ or .PageImage `https://michaelmiranda.dev/public/images/share.png` }}"
  />
  <title>{{ or .PageTitle "Michael Miranda" }}</title>
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{or .FaviconEmoji `🚀`}}</text></svg>"
    type="image/svg+xml"
  />
  <link
    rel="stylesheet"
    href="/public/styles/site.css"
  />
  {{ block "head-tags" . }}{{end}}
  <script
    defer
    src="/public/js/vendor/alpine@3.12.3.js"
  ></script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-96EGTYYVB8"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-96EGTYYVB8');
  </script>
</head>

<body class="bg-slate-50 dark:bg-slate-800 text-slate-700 dark:text-slate-200 font-inter">
  <!-- Header -->
  {{ template "header" . }}

  <!-- Content -->
  <main class="px-5 py-10">{{ template "yield" . }}</main>

  <!-- Footer -->
  {{ template "footer" . }}

  <!-- Scripts -->
  {{ block "scripts" . }}{{end}}
</body>

</html>