package components

import "github.com/mrpineapples/personal-website/models"

templ NewArticle() {
	@Layout(Props{}) {
		<div class="max-w-4xl mx-auto">
			<div>
				<h1 class="my-4 text-5xl text-slate-900 dark:text-white font-semibold leading-tight">
					Create a Post
				</h1>
				<form
 					action="/articles"
 					method="post"
				>
					@ArticleFormFields(models.Article{})
				</form>
			</div>
		</div>
	}
}
