package components

templ NotFound() {
	@Layout(Props{}) {
		<div class="max-w-4xl min-h-screen flex flex-col items-center mx-auto mt-20 gap-8">
			<h1 class="text-2xl text-slate-900 dark:text-white font-semibold leading-tight">
				This page does not exist 🤨
			</h1>
			<a
 				class="text-blue-500"
 				href="/"
			>Go to the homepage <span aria-hidden="true">&#8594;</span></a>
		</div>
	}
}
