@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-lexend: "Lexend Deca", sans-serif;
  --font-fira: "Fira Code", monospace;
  --animate-wave: wave 2s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a:not(nav a):hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

pre code {
  @apply block overflow-scroll pb-4 text-sm;
}

code::before,
code::after {
  content: none;
}

code {
  @apply text-pink-400;
}
